$color = #f1002d
$background-color =#f1002d
$border-radius = 3px
html,body
    padding 0
    font-family Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,tahoma,simsun,sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-align center
    color #2c3e50
    margin 0 auto
    background-color #f5f5f5
    min-height 100%
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
.nomore
    font-size 12px
    color #666
    padding 20px 0
.scrollFixed
    position fixed
    width 100%
// 右边飞入动画
.TransitionRight-enter-active {
    animation: TransitionRight .3s;
}
.TransitionRight-leave-active {
    animation: TransitionRight .3s reverse;
}
@keyframes TransitionRight {
    0% {
        transform: translate3d(100%, 0, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}
.van-toast
    z-index 99999 !important